{% extends 'beauty_store/basic.html' %}
{% load static %}
{% block body %}
		<div id="contents">
			<div id="main">
				<div id="adbox">
					<img src="{% static 'images/lip-check.jpg' %}" alt="Img" height="384" width="700">
					<div class="info">
						<h1>Lorem Ipsum</h1>
						<p>
							Quisque ornare, purus sit amet rutrum gravida. neque ligula
						</p>
						<a href="/" class="shop">Shop Now</a>
					</div>
				</div>
				<div id="items">
					<h3>Featured Items</h3>
					<ul>
						<li class="box">
							<a href="/beauty_store/cosmetic"><img src="{% static 'images/lipsticks.png' %}" alt="Img" height="186" width="178">
							<h3>Lipsticks</h3>
							<span class="price">$1.00</span></a>
							<p>
								Nullam avodio iaculis ante, ac placerat tellus turpis ut. neque. In libero sem, vehicula quis feugiat non, malesuada nec tellus.
							</p>
							<a href="/beauty_store/cart" class="btnCart">Add to Cart</a>
						</li>
						<li class="box">
							<a href="/beauty_store/cosmetic"><img src="{% static 'images/lipsticks2.png' %}" alt="Img" height="186" width="178">
							<h3>Lipsticks</h3>
							<span class="price">$1.00</span></a>
							<p>
								Nullam avodio iaculis ante, ac placerat tellus turpis ut. neque. In libero sem, vehicula quis feugiat non, malesuada nec tellus.
							</p>
							<a href="/beauty_store/cart" class="btnCart">Add to Cart</a>
						</li>
						<li class="box">
							<a href="/beauty_store/cosmetic"><img src="{% static 'images/powder.png' %}" alt="Img" height="186" width="178">
							<h3>Lipsticks</h3>
							<span class="price">$1.00</span></a>
							<p>
								Nullam avodio iaculis ante, ac placerat tellus turpis ut. neque. In libero sem, vehicula quis feugiat non, malesuada nec tellus.
							</p>
							<a href="/beauty_store/cart" class="btnCart">Add to Cart</a>
						</li>
					</ul>
				</div>
			</div>
			<div id="sidebar">
				<h1>Cosmetics</h1>
				<ul class="menu">
					<li>
						<span>Face</span>
						<ul>
							<li>
								<a href="/beauty_store/cosmetic">Blush</a>
							</li>
							<li>
								<a href="/beauty_store/cosmetic">Bronzers</a>
							</li>
							<li>
								<a href="/beauty_store/cosmetic">Compacts</a>
							</li>
							<li>
								<a href="/beauty_store/cosmetic">Concealers</a>
							</li>
							<li>
								<a href="/beauty_store/cosmetic">Foundations</a>
							</li>
							<li>
								<a href="/beauty_store/cosmetic">Powders</a>
							</li>
							<li>
								<a href="/beauty_store/cosmetic">Primers</a>
							</li>
						</ul>
					</li>
					<li>
						<span>Eyes</span>
						<ul>
							<li>
								<a href="/beauty_store/cosmetic">Brows</a>
							</li>
							<li>
								<a href="/beauty_store/cosmetic">Eyeliners</a>
							</li>
							<li>
								<a href="/beauty_store/cosmetic">Eyeshadows</a>
							</li>
							<li>
								<a href="/beauty_store/cosmetic">Mascara</a>
							</li>
						</ul>
					</li>
					<li>
						<span>Lips</span>
						<ul>
							<li>
								<a href="/beauty_store/cosmetic">Lip Gloss</a>
							</li>
							<li>
								<a href="/beauty_store/cosmetic">Lip Pencils</a>
							</li>
							<li>
								<a href="/beauty_store/cosmetic">Lipsticks</a>
							</li>
						</ul>
					</li>
					<li>
						<span>Nails</span>
						<ul>
							<li>
								<a href="/beauty_store/cosmetic">Nail Polishes</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
</body>
</html>
{% endblock %}